*{
    margin: 0;
}
.container{
    display: flex;
    background:#E554731A;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 100px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 25px;
    color: black;
    font-weight:bolder;
    margin-right: 150px;
}
.banner-container{
    height: 80vh;
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-info{
    margin-left: 120px;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: black;
}
.primary{
    color: red;
}
.description{
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
}
.btn-primary{
    padding: 12px 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
}
.banner-image{
    width: 450px;
    height: 465px;
    margin-right: 100px;
}
.our-feature-flower{
    text-align: center;
    padding: 100px;
}
.our-feature-flower-title{
    padding-bottom: 5px;
}
.flowers-varient{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    margin-bottom: 10px;
    justify-content: center;
    padding-right: 240px;
    padding-left: 240px;
    gap: 24px;
}
.first-flower-background{
    width: 300px;
    height: 360px;
    background-color: #A7216226;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}
.secend-flower-background{
    width: 300px;
    height: 360px;
    background-color: #0597A026;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}
.third-flower-background{
    width: 300px;
    height: 360px;
    background-color: #477D1126;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}
.flower-image{
    width: 170px;
    height: 250px;
    margin-top: 110px;
    margin-right: 76px;
    margin-left: 60px;
}
.first-flower-image{
    width: 170px;
    height: 250px;
    margin-top: 90px;
    margin-right: 76px;
    margin-left: 60px;
}
.Flowes-varient-name{
    display: flex;
    justify-content: center;
    padding-right: 240px;
    padding-left: 240px;
    gap: 200px;
    padding-bottom: 128px;
}
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    background:#2727270D ;
    margin-bottom: 128px;
}
.service-section{
    padding: 30px;
    align-items: center;
    text-align: center;
}
.hot-deal-container{
    height: 60vh;
    background-color:#E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hot-deal-info{
    margin-left: 120px;
    align-items: center;
}
.hot-deal-title{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.btn{
    color: red;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
}
.hot-deal-description{
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
    text-align: center;
}
.hot-deal-image{
    width: 265px;
    height: 350px;
    margin-right: 200px;
}
.insta-section{
    text-align: center;
    padding: 50px;
}
.insta-section-titile{
    padding-bottom: 5px;
}
.insta-section-image{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 100px;
}
.insta-image{
    height: 250px;
}
.deal{
    background-image: url('Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    width: 940px;
    height: 350px;
    margin-left: 170px;
    margin-bottom: 128px;
    text-align: center;
}
.deal-area{
    padding-top: 130px;
}
.input-subscribe{
    padding-top: 10px;
}
.input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
}
.subscribe{
    height: 30px;
    color: white;
    background-color: #E55473;
    border-radius: 5px;
}
